body{
    display:flex;
    align-items: center;
    height: 1000px;
}

.topleftpresentation{
    background-color:forestgreen ;
    text-align: center;
    width: 350px;
    height: 100%
}

.rightpresentation{
    background-color:goldenrod;
    width: 600px;
    height: 100%;

}
.centerpage{

    text-decoration:goldenrod;

}
.title{
    text-size-adjust: 24px;
    font-size: 24px;
}
.experience{
    padding-top: 30px;
    display: flex;
    height: 100px;
    
}
.experience .objectif{
    height: 100px;
}

.image
{
    border-radius: 50px;
    height: 200px;
}

